@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-container {
  background-color: #4a5240;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a5240;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #f5f1ed;
  /* font-family: 'Plus Jakarta Sans', sans-serif; */
}

.nav-links li {
  display: inline-block;
  margin: 0 20px;
  /* font-family: 'Plus Jakarta Sans', sans-serif; */
}

.nav-links li a {
  font-size: 30px;
  /* font-family: 'Plus Jakarta Sans', sans-serif; */
  font-weight: 500;
  color: #2e2e2e;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  padding: 8px 12px;
  border-radius: 5px;
}

.nav-links:hover {
  background-color: #4A5240;
  color: #b284be;
}

.nav-links.active {
  background-color: #4A5240;
  color: #b284be;
}

.nav-text {
  font-size: 23px;
}


.nav-logout-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a5240;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #f5f1ed;
  /* font-family: 'Plus Jakarta Sans', sans-serif; */
}

.nav-logout-link li {
  display: inline-block;
  margin: 0 20px;
  /* font-family: 'Plus Jakarta Sans', sans-serif; */
}

.nav-logout-link li a {
  font-size: 30px;
  /* font-family: 'Plus Jakarta Sans', sans-serif; */
  font-weight: 500;
  color: #2e2e2e;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  padding: 8px 12px;
  border-radius: 5px;
}

.nav-logout-link:hover {
  background-color: #4A5240;
  color: #b284be;
}


* {
  font-family: "Plus Jakarta Sans", sans-serif;
  /* font-weight: bolder; */
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 80px;
  width: 300px;
  height: 100%;
  background-color: #a1a485;
  padding: 20px;
  z-index: 999; /* higher than the main content */
}

.container {
  position: relative;
  margin-left: 300px;
  margin-top: 80px; 
  /* adjust the width based on your sidebar */
}

.card-group{
  margin-top:80px;
}

.card-description-hover {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  margin: -2% 0 0; /* add margin-top of 20% */
  overflow: auto;
}

.card-info:hover .card-description-hover {
  opacity: 1;
}

.my-masonry-grid {
  display: flex;
  margin-top: 80px;
  margin-left: 100px; /* gutter size offset */
  margin-right: 320px; /* gutter size offset */
  width: auto;
  align-items: flex-start; /* align items at the bottom of each row */
}

.my-masonry-grid_column {
  padding-left: 30px; 
  background-clip: padding-box;
}


.my-masonry-grid_column > div {
  width: 200%;
}

.masonry-update.grid_column{
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.updates-masonry-grid_column {
  padding-left: 30px; 
  background-clip: padding-box;
  margin-left: 60px;
}

.updates-grid{
  display: flex;
  margin-bottom: 100px;
  margin-top: 80px;
  margin-left: 130px;
  margin-right: 320px; 
  width: auto;
  align-items: flex-start; /* align items at the bottom of each row */
}

#root > div > div.h-screen.w-screen.flex.justify-center.items-center.bg-\[\#f5f1ed\].snap-start > section > form > div:nth-child(1) > label {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: black !important;
}

#root > div > div.h-screen.w-screen.flex.justify-center.items-center.bg-\[\#f5f1ed\].snap-start > section > form > div:nth-child(2) > label {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: black !important;
}

body{
    background-color: #F5F1ED;
}

.trash.alternate.outline.icon:before {
  color: red;
}

/* .image-modal.modal-content {
  padding: 0;
} */

.form-button:hover {
  background-color: #3F292B;
  color: #b284be;
}